.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;;
    
}
.dialog{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: yellow;

   
}
.dialog a{
    
    display: flex;
    color: yellow;
    text-decoration: none;
    border: 2px solid white;
   
}
.dialogItems{
    padding-top: 10px;
}
.dialogItems a:focus{
color: red;
text-decoration: none;
}
.message{
    padding: 10px;
    display: flex;
}
